<div class="layout-wrapper">
    <div id="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#" class="logo" [routerLink]="['/']">
            <h1 style="color: #ffffff;margin-top: 0px">PrimeNG Extensions</h1>
        </a>

        <ul class="topbar-menu">
            <li class="topbar-menu-themes">
                <a href="#">THEMES</a>
                <ul>
                    <li class="topbar-submenu-header">THEMING</li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-light')"><span class="ui-text">Nova Light</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-dark')"><span class="ui-text">Nova Dark</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-colored')"><span class="ui-text">Nova Colored</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-amber')"><span class="ui-text">Luna Amber</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-blue')"><span class="ui-text">Luna Blue</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-green')"><span class="ui-text">Luna Green</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-pink')"><span class="ui-text">Luna Pink</span></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">
            <div>
              <div>
                <a [routerLink]="['/badge']" (click)="menuActive = false">&#9679; Badge</a>
              </div>
              <div>
                <a [routerLink]="['/qrcode']" (click)="menuActive = false">&#9679; QRCode</a>
              </div>
              <div>
                <a [routerLink]="['/wizard']" (click)="menuActive = false">&#9679; Wizard</a>
              </div>
              <div>
                <a [routerLink]="['/minusplusinput']" (click)="menuActive = false">&#9679; MinusPlusInput</a>
              </div>
            </div>

        </div>
    </div>

    <div class="layout-mask" *ngIf="menuActive">
    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="content-section layout-footer clearfix">
            <span><a href="http://www.primetek.com.tr">PrimeNG Extensions</a>, Copyright &copy; 2017</span>
            <div class="footer-links">
                <a href="https://github.com/sudheerj/primeng-extensions"><i class="fa fa-github"></i></a>
            <div>
        </div>
    </div>

</div>
