<div class="content-section introduction">
    <div>
        <span class="feature-title">Wizard</span>
        <span>Custom wizard component implemented with for navigations through steps and buttons.</span>
    </div>
</div>

<div class="content-section implementation">
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChange($event)" >
        <pe-step label="First Step" styleClass="layout-format" >
            <label for="firstname">First Name:</label>
            <input id="firstname" name="firstname" type="text"
                   pInputText [(ngModel)]="firstName"/>
            <button pButton label="Go" (click)="next()"></button>
        </pe-step>

        <pe-step label="Second Step" styleClass="layout-format" >
            <label for="lastname">Last Name:</label>
            <input id="lastname" name="lastname" type="text"
                   pInputText [(ngModel)]="lastName"/>
            <button pButton label="Go" (click)="next()"></button>
        </pe-step>

        <pe-step label="Third Step" styleClass="layout-format">
            <label for="address">Address:</label>
            <input id="address" name="address" type="text"
                   pInputText [(ngModel)]="address"/>
            <button pButton label="Ok" (click)="ok()"></button>
        </pe-step>
    </pe-steps>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
</div>
<style>
  .layout-format {
    margin: auto;
    border: 1px solid #ccc !important;
    border-radius: 16px !important;
    padding: 10px 60px 60px 60px;
    width: 320px;
    height: 300px;
  }
</style>
