<div class="content-section introduction">
    <div>
        <span class="feature-title">QRCode</span>
        <span>A QRCode is a machine-readable optical label that contains information about the item to which it is attached.</span>
    </div>
</div>

<div class="content-section implementation">
    <h3 class="first">Customized QRCode</h3>
  <pe-qrcode value="https://github.com/sudheerj/primeng-extensions" size="300"  background="lightblue" backgroundAlpha="0.7" foreground="black" foregroundAlpha="0.7"></pe-qrcode>
</div>

